/* variables */
:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-red: #ee3643;
  --main-red-hover: #ca2c37;
  --main-red-clicked: #ba2732;
  --apply-for-loan-red: #ff5357;

  --main-green: #63a63e;
  --main-green-hover: #5fbb2d;
  --main-green-clicked: #518534;

  --menu-button-clicked: rgba(255, 255, 255, 0.5);
  --menu-link-clicked: #161d29;

  --main-gray: #f9f5f0;
  --main-background: #f3f7f9;

  --main-dark: #32425c;
  --main-darken: #293449;
  --main-darken-clicked: #1d2739;

  --basic-gray: #c5c5c5;
  --basic-gray-hover: #b5b5b5;
  --crossout-gray: #a9a9a9;

  --promo-orange: #ffc047;
  --promo-light-blue: #3bbce3;
  --promo-purple: #dc91d8;
  --promo-green: #8ed78f;
  --promo-background-brown: #d2b48c;
  --promo-button-background: rgba(255, 255, 255, 0.3);
  --promo-button-background-hover: rgba(197, 197, 197, 0.3);
  --promo-button-background-active: rgba(169, 169, 169, 0.3);
  --footer-promo-brown: #ffd180;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}
.button {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--main-white);
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--main-red);
}

.new-die {
  background-color: var(--main-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
}

/* HEADER */
.header {
  background: var(--main-background);
}

/* Header menu */
.header-menu {
  background-color: var(--main-dark);
}
.menu-bookmarks {
  color: var(--main-white);
  font-size: 18px;
  line-height: 24px;
}
.menu-shopping-cart {
  color: var(--main-white);
}

.menu-bookmarks:active,
.menu-shopping-cart:active {
  background-color: var(--menu-link-clicked);
  /*  color: var(--menu-button-clicked);*/
  opacity: 0.5;
}

.menu-add-to-cart-button {
  background-color: var(--main-green);
  color: var(--main-white);
  font-size: 18px;
  line-height: 24px;
}
.menu-add-to-cart-button:hover {
  background-color: var(--main-green-hover);
}
.menu-add-to-cart-button:active {
  /* color: var(--menu-button-clicked); */
  opacity: 0.5;
}

.main-header {
  color: var(--main-red);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

/* header contacts */
.header-contact-phone {
  border: 3px solid var(--main-white);
  color: var(--main-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.header-contact-address {
  color: var(--main-dark);
  font-size: 14px;
  line-height: 24px;
}

/* header login and registration */
.login-link {
  background-color: var(--main-white);
  color: var(--main-black);
  font-size: 21px;
  line-height: 21px;
  text-transform: capitalize;
}
.registration-link {
  background-color: var(--main-white);
  color: var(--main-black);
  font-size: 21px;
  line-height: 21px;
  text-transform: capitalize;
}
.login-link:hover,
.registration-link:hover {
  color: var(--main-red);
}
.login-link:active,
.registration-link:active {
  color: var(--basic-gray);
}
/* end of header login and registration */

/* site navigation */
.main-navigation {
  background-color: var(--main-dark);
}
.site-navigation {
  list-style: none;
}
.navigation-item a {
  color: var(--main-white);
}
.main-navigation a:hover {
  background-color: var(--main-darken);
}

.main-navigation a:active {
  opacity: 0.5;
}
/* end of site navigation */

/* Promo */
.promo {
  background-color: var(--main-white);
}

.promo-list {
  list-style: none;
}
.promo-list-item h3 {
  color: var(--main-white);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-list-button {
  background-color: var(--promo-button-background);
  color: var(--main-white);
  text-transform: uppercase;
}
.promo-list-button:hover {
  background-color: var(--promo-button-background-hover);
}
.promo-list-button:active {
  background-color: var(--promo-button-background-active);
}

.list-item-first {
  background-color: var(--promo-orange);
}
.list-item-second {
  background-color: var(--promo-light-blue);
}
.list-item-third {
  background-color: var(--promo-purple);
}
.list-item-fourth {
  background-color: var(--promo-green);
}
.list-item-fifth {
  background-color: var(--promo-orange);
}

.promo-slider {
  list-style: none;
}
.promo-slider-item {
  background-color: var(--promo-background-brown);
  color: var(--main-white);
}
.slider-item-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.slider-text {
  font-size: 18px;
  line-height: 24px;
}
.promo-slider-button {
  background-color: var(--main-red);
}

.promo-slider-button:hover {
  background-color: var(--main-red-hover);
}
.promo-slider-button:active {
  background-color: var(--main-red-clicked);
}

/* Popular proucts */
.popular-products {
  background-color: var(--main-white);
}
.popular-products-list {
  list-style: none;
}

.popular-heading {
  background-color: var(--main-gray);
  color: var(--main-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.popular-products-item-heading {
  color: var(--main-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.price-crossout {
  text-decoration: line-through;
  color: var(--crossout-gray);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.price {
  background-color: var(--main-red);
  color: var(--main-white);
}

.popular-manufacturer-list {
  list-style: none;
}

/* Services */
.services {
  background-color: var(--main-background);
}
.services-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}
.service-item {
  color: var(--main-white);
  background-color: var(--main-dark);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.service-item:hover {
  background-color: var(--main-darken);
}
.service-active {
  background-color: var(--main-white);
  color: var(--main-dark);
}

.service-description-heading {
  color: var(--main-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-description-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--main-black);
}
.apply-for-loan-button {
  color: var(--main-white);
  background-color: var(--apply-for-loan-red);
  border-radius: 1px;
}

/* Информация о компании */
.company-info {
  background-color: var(--main-white);
}
.company-info-heading {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}
.company-info-text {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--main-black);
  font-size: 13px;
  line-height: 24px;
}

.company-partners {
  list-style: "- ";
}

/* footer */
.main-footer {
  background-color: var(--main-dark);
}

.footer-navigation-list {
  list-style: none;
}

.footer-navigation-link {
  text-decoration: none;
  color: var(--main-white);
}
.footer-navigation-link:hover {
  text-decoration: underline;
}
.footer-navigation-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-address {
  color: var(--main-white);
}
.contact-phone {
  text-decoration: none;
  color: var(--main-background);
}

.footer-promo-list {
  list-style: none;
}
.footer-promo-link {
  color: var(--footer-promo-brown);
}
.footer-promo-link:hover {
  text-decoration: underline;
}
.footer-promo-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-contacts {
  background-color: var(--main-darken);
}
.copyright {
  color: var(--main-white);
  font-size: 16px;
  line-height: 18px;
}

.social-links {
  list-style: none;
}
.social-link {
  color: var(--main-white);
}

.feedback {
  color: var(--main-white);
  font-size: 16px;
  line-height: 18px;
}
.feedback a {
  color: var(--footer-promo-brown);
}
.developed-by {
  color: var(--main-white);
  font-size: 16px;
  line-height: 18px;
}
.developed-by a {
  color: var(--footer-promo-brown);
}
