/* variables */
:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --main-dark: #32425c;
  --main-darken: #293449;
  --main-darken-clicked: #1d2739;

  --icon-home: #c1c6ce;
  --icon-phone: #b7bfc8;

  --red: #ee3643;
  --red-hover: #ca2c37;
  --red-clicked: #ba2732;
  --apply-for-loan-red: #ff5357;

  --green: #63a63e;
  --green-hover: #5fbb2d;
  --green-clicked: #518534;

  --menu-button-clicked: rgba(255, 255, 255, 0.5);
  --menu-link-clicked: #161d29;

  /* --gray: #f9f5f0; */
  --background: #f3f7f9;
  --basic-background: #f1f5f7;
  --gray: #c5c5c5;
  --gray-hover: #b5b5b5;
  --crossout-gray: #a9a9a9;
  --to-bookmarks-clicked: #d8d8d8;

  --pagination-border: #e5e5e5;
  --pagination-border-hover: #c5c5c5;

  --catalog-header-background: #f2f6f8;
  --catalog-sort-background: #f7f3ec;
  --catalog-button-transparent: rgba(0, 0, 0, 0.3);
  --catalog-item-border: #eaeaea;

  --promo-orange: #ffc047;
  --promo-light-blue: #3bbce3;
  --promo-purple: #dc91d8;
  --promo-green: #8ed78f;
  --promo-background-brown: #d2b48c;
  --promo-button-background: rgba(255, 255, 255, 0.3);
  --promo-button-background-hover: rgba(197, 197, 197, 0.3);
  --promo-button-background-active: rgba(169, 169, 169, 0.3);
  --footer-promo-brown: #ffd180;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.icon-phone {
  fill: var(--icon-phone);
}

.icon-home {
  fill: var(--icon-home);
}
.icon-home:hover {
  fill: var(--main-black);
}

.icon-up {
  fill: var(--red);
}
.icon-down {
  fill: var(--gray);
}

.icon-up:hover,
.icon-down:hover {
  fill: var(--main-black);
}
/* end of SVG */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.page a {
  text-decoration: none;
}
.button {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--main-white);
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
}

.new-die {
  background-color: var(--red);
  color: var(--main-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
}

/* HEADER */
.header {
  background: var(--background);
}
.logo {
  display: inline-block;
  vertical-align: center;
  background-color: var(--red);
  box-shadow: inset 0px -5px 0px var(--red-clicked);
}

.logo:active {
  background-color: var(--red-hover);
}
/* Header menu */
.header-menu {
  background-color: var(--main-dark);
}

/* Закладки */

.menu-bookmarks {
  color: var(--main-white);
  font-size: 18px;
  line-height: 24px;
}
.menu-bookmarks:active,
.menu-bookmarks:focus {
  opacity: 0.5;
}

.menu-bookmarks svg {
  opacity: 0.3;
  fill: var(--main-white);
}

.menu-bookmarks:hover svg {
  fill: var(--main-white);
  opacity: 1;
}

.menu-bookmarks:active svg {
  background-color: var(--menu-link-clicked);
  opacity: 0.5;
}

/* Конец закладок */

.menu-shopping-cart {
  color: var(--main-white);
  font-size: 18px;
  line-height: 24px;
}
.menu-shopping-cart:active,
.menu-shopping-cart:focus {
  opacity: 0.5;
}

.menu-shopping-cart svg {
  opacity: 0.3;
  fill: var(--main-white);
}

.menu-shopping-cart:hover svg {
  fill: var(--main-white);
  opacity: 1;
}

.menu-shopping-cart:active svg {
  background-color: var(--menu-link-clicked);
  opacity: 0.5;
}

.cart-active {
  background-color: var(--red);
}

.menu-add-to-cart-button {
  background-color: var(--green);
  color: var(--main-white);
  font-size: 18px;
  line-height: 24px;
}
.menu-add-to-cart-button:hover {
  background-color: var(--green-hover);
}
.menu-add-to-cart-button:active {
  opacity: 0.5;
}

.login-link svg {
  fill: var(--main-white);
}
.login-link:hover svg {
  fill: var(--main-dark);
}
.login-link:active svg {
  fill: var(--gray);
}

.main-header {
  color: var(--red);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

/* header contacts */
.header-contact-phone {
  border: 3px solid var(--gray);
  color: var(--red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.header-contact-address {
  color: var(--main-dark);
  font-size: 14px;
  line-height: 24px;
}

/* header login and registration */
.login-link {
  background-color: var(--main-white);
  color: var(--main-black);
  font-size: 21px;
  line-height: 21px;
  text-transform: capitalize;
}

.login-link svg {
  fill: var(--gray);
}

.registration-link {
  background-color: var(--main-white);
  color: var(--main-black);
  font-size: 21px;
  line-height: 21px;
  text-transform: capitalize;
}
.login-link:hover,
.registration-link:hover {
  color: var(--red);
}
.login-link:active,
.registration-link:active {
  color: var(--gray);
}

.account-user-link {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--main-black);
  background-color: var(--main-white);
}

.account-user-link:active,
.account-user-link:focus {
  color: var(--gray);
}

.account-user-link svg {
  fill: var(--gray);
}

.account-user-link:hover svg {
  fill: var(--main-dark);
}
.account-user-link:active svg,
.account-user-link:focus svg {
  fill: var(--gray);
}

.account-user-logout svg {
  fill: var(--gray);
}
.account-user-logout:hover svg {
  fill: var(--main-dark);
}
.account-user-logout:active svg,
.account-user-logout:focus svg {
  fill: var(--gray);
}

.account-personal {
  color: var(--main-dark);
  font-size: 16px;
  line-height: 18px;
}

.account-orders {
  color: var(--main-dark);
  font-size: 16px;
  line-height: 18px;
}

.account-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.account-nav-item {
  padding: 0 15px;
  position: relative;
}

.account-nav-item + .account-nav-item:before {
  position: absolute;
  top: 5px;
  left: -2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--main-dark);
  content: "";
}

.account-personal:hover {
  color: var(--red);
}
.account-personal:active,
.account-personal:focus {
  color: var(--gray);
}

.account-orders:hover {
  color: var(--red);
}
.account-orders:active,
.account-orders:focus {
  color: var(--gray);
}

/* end of header login and registration */

/* site navigation */
.main-navigation {
  background-color: var(--main-dark);
}
.site-navigation {
  list-style: none;
}
.navigation-item a {
  color: var(--main-white);
}

.navigation-item:hover {
  background-color: var(--main-darken);
}

.navigation-item a:active {
  opacity: 0.5;
}
/* end of site navigation */

.breadcrumbs {
  list-style: none;
  color: var(--main-black);
}

.breadcrumbs-link {
  color: var(--main-black);
}
.breadcrumbs-link svg {
  fill: gray;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}
.breadcrumbs-link:hover svg {
  fill: var(--main-black);
}

.breadcrumbs-link:active,
.breadcrumbs-link:focus {
  opacity: 0.5;
  text-decoration: none;
}
/* Promo */
.promo {
  background-color: var(--main-white);
}

.promo-list {
  list-style: none;
}
.promo-list svg {
  fill: var(--main-white);
}
.promo-list-item h3 {
  color: var(--main-white);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-list-button {
  background-color: var(--promo-button-background);
  color: var(--main-white);
  text-transform: uppercase;
}
.promo-list-button:hover {
  background-color: var(--promo-button-background-hover);
}
.promo-list-button:active {
  background-color: var(--promo-button-background-active);
}

.list-item-first {
  background-color: var(--promo-orange);
}
.list-item-second {
  background-color: var(--promo-light-blue);
}
.list-item-third {
  background-color: var(--promo-purple);
}
.list-item-fourth {
  background-color: var(--promo-green);
}
.list-item-fifth {
  background-color: var(--promo-orange);
}

.promo-slider {
  list-style: none;
}
.promo-slider-item {
  background-color: var(--promo-background-brown);
  color: var(--main-white);
}
.slider-item-heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.slider-text {
  font-size: 18px;
  line-height: 24px;
}
.promo-slider-button {
  background-color: var(--red);
}

.promo-slider-button:hover {
  background-color: var(--red-hover);
}
.promo-slider-button:active,
.promo-slider-button:focus {
  background-color: var(--red-clicked);
}

/* Popular products */
.popular-products {
  background-color: var(--main-white);
}
.popular-products-list {
  list-style: none;
}

.popular-button:hover {
  background-color: var(--red-hover);
}
.popular-button:active,
.popular-button:focus {
  background-color: var(--red-clicked);
}

.popular-heading {
  background-color: var(--gray);
  color: var(--main-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.popular-products-item-heading {
  color: var(--main-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.price-crossout {
  text-decoration: line-through;
  color: var(--crossout-gray);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.price {
  background-color: var(--red);
  color: var(--main-white);
}

.popular-manufacturer-list {
  list-style: none;
}
/* Services */
.services {
  background-color: var(--background);
}
.services-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}
.service-item {
  color: var(--main-white);
  background-color: var(--main-dark);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}
.service-item:hover {
  background-color: var(--main-darken);
}
.service-active {
  background-color: var(--main-white);
  color: var(--main-dark);
}

.service-description-heading {
  color: var(--main-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-description-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--main-black);
}
.apply-for-loan-button {
  color: var(--main-white);
  background-color: var(--apply-for-loan-red);
  border-radius: 1px;
}

/* Информация о компании */
.company-info {
  background-color: var(--main-white);
}
.company-info-heading {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}
.company-info-text {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--main-black);
  font-size: 13px;
  line-height: 24px;
}

.company-partners {
  list-style: "- ";
}

/* Catalog */
.catalog-header {
  background-color: var(--catalog-header-background);
  color: var(--main-dark);
}
.catalog-header h2 {
  font-size: 30px;
  line-height: 30px;
}

.sort-control {
  background-color: var(--catalog-sort-background);
}
.sort-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-button {
  border: none;
  background-color: transparent;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--catalog-button-transparent);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline dotted var(--red);
}
.sort-button svg {
  fill: gray;
}

.sort-button:hover {
  color: var(--main-black);
  text-decoration: underline var(--red);
}
.sort-button:hover svg {
  fill: var(--main-black);
}

.sort-button:active,
.sort-button:focus {
  /* text-decoration: none; */
  outline: none;
  color: var(--red);
}

.sort-button.sort-button-active {
  /* text-decoration: none; */
  color: var(--red);
}
.sort-button.sort-button-active:hover {
  /* text-decoration: none; */
  color: var(--red);
}
.sort-button.sort-button-active svg {
  fill: var(--red);
}

/* catalog products list */
.catalog-products-list {
  list-style: none;
}

.catalog-products-list a {
  color: var(--main-black);
}

.catalog-item {
  border: 1px solid var(--catalog-item-border);
}

.buy-button {
  color: var(--main-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--green);
  opacity: 0;
}

.to-bookmarks-button {
  background-color: transparent;
  border: 3px solid var(--green);
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-dark);
  opacity: 0;
}

.catalog-item:hover .buy-button {
  opacity: 1;
}

.catalog-item:hover .to-bookmarks-button {
  opacity: 1;
}

.to-bookmarks-button:hover {
  border-color: var(--main-dark);
}

.to-bookmarks-button:active {
  color: var(--to-bookmarks-clicked);
  border-color: var(--to-bookmarks-clicked);
}

.buy-button svg {
  fill: var(--main-white);
  opacity: 0.3;
}

.buy-button:hover {
  background-color: var(--green-hover);
}

.buy-button:active {
  background-color: var(--green-clicked);
}
/* end of catalog */

/* pagination */
.pagination-list {
  list-style: none;
}
.pagination-item {
  border: 1px solid var(--pagination-border);
  border-radius: 2px;
  color: var(--main-black);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.pagination-link {
  color: var(--main-black);
}
.pagination-item:hover {
  border-color: var(--pagination-border-hover);
}
.pagination-item:active {
  border-color: var(--red);
}
.pagination-item-active {
  background-color: var(--red);
  color: var(--main-white);
}

/* about-perforators */
.about-perforators {
  background-color: var(--basic-background);
}
.about-perforators-header {
  color: var(--main-black);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.about-perforators-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

/* footer */
.main-footer {
  background-color: var(--main-dark);
}

.footer-navigation-list {
  list-style: none;
}

.footer-navigation-link {
  text-decoration: none;
  color: var(--main-white);
}
.footer-navigation-link:hover {
  text-decoration: underline;
}
.footer-navigation-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-address {
  color: var(--main-white);
}
.contact-phone {
  text-decoration: none;
  color: var(--background);
}

.footer-promo-list {
  list-style: none;
}
.footer-promo-link {
  color: var(--footer-promo-brown);
}
.footer-promo-link:hover {
  text-decoration: underline;
}
.footer-promo-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-contacts {
  background-color: var(--main-darken);
}
.copyright {
  color: var(--main-white);
  font-size: 16px;
  line-height: 18px;
}

.social-links {
  list-style: none;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark);
  border-radius: 50%;
}
.social-link svg {
  fill: var(--main-white);
}
.social-link:hover,
.social-link:active,
.social-link:focus {
  background-color: var(--red);
}

.feedback {
  color: var(--main-white);
  font-size: 16px;
  line-height: 18px;
}
.feedback a {
  color: var(--footer-promo-brown);
}

.developed-by {
  color: var(--main-white);
  font-size: 16px;
  line-height: 18px;
}
.developed-by a {
  color: var(--footer-promo-brown);
}

.feedback a:hover,
.developed-by a:hover {
  text-decoration: underline;
}
.feedback a:active,
.developed-by a:active {
  color: var(--red);
  text-decoration: none;
}
